.back{
    background-image: url(pic/v.webp);
    background-repeat: no-repeat;
}
body{
    font-family: 'Prosto One', cursive;
    margin: 0%;
}
#head{
    font-size: 70px;
    text-align: center;
}
h1{
    font-size: 70px;
}
.IO{
    color: rgb(0, 182, 243);
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 100%;
    padding-right: 5%;
}
/* shions page starts from here */

.mage{
    color: rgb(255, 159, 237);
}

.second{
    width: 50%;
}
.second img{
    width: 60%;
    padding-left: 10%;
}
.shion{
    display:flex
}